<%= render partial: "shared/main_header" %>

<div class="container login-container">
  <div class="row">
    <div class="col-md-6 login-form offset-md-3">

      <h2>Отправить инструкции по активации</h2>

      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        </div>

        <div class="form-group">
          <input class="btn btn-primary" type="submit" name="action" value="Прислать инструкции по активации">
        </div>
      <% end %>

    </div>
  </div>
</div>
