<%= render partial: "shared/main_header" %>

<div class="container login-container">
  <div class="row">
    <div class="col-md-6 login-form offset-md-3">

      <h2>Редактировать профиль</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="form-group">
          <label class="lbl-change-avatar">
            <% if current_user.avatar.attached? %>
              <%= image_tag current_user.avatar %>
            <% else %>
              <%= image_tag "default-avatar.jpg" %>
            <% end %>
            <span style="display:none;">
              <%= f.file_field :avatar, id: "fileUploader"%>
            </span>
          </label>
        </div>
        <div class="form-group">
          <%= f.label "Имя" %><br />
          <%= f.text_field :name, autofocus: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label "Фамилия" %><br />
          <%= f.text_field :surname, autofocus: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label "Телефон" %><br />
          <%= f.text_field :phone, class: "form-control" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group">
          <%= f.label "Пароль" %> <br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control", "data-toggle": "tooltip", "title": "Минимум " + @minimum_password_length.to_s + " символов" %>
          <small class="form-text text-muted">Не заполняйте поле, если не хотите его изменить</small>
        </div>

        <div class="form-group">
          <%= f.label "Подтверждение пароля" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label "Текущий пароль" %> <br />
          <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
          <small class="form-text text-muted">Текущий пароль нужен для подтверждения изменений</small>
        </div>

        <div class="form-group">
          <input class="btn btn-primary btnLogin" type="submit" name="action" value="Обновить">
        </div>
      <% end %>

      <h3>Удалить аккаунт</h3>

      <div class="form-group">
        <%= button_to "Удалить аккаунт", registration_path(resource_name), class:"btn btn-primary", data: { confirm: "Вы уверены?" }, method: :delete %>
      </div>

      <%= link_to "Вернуться", :back %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
