<%= render partial: "shared/main_header" %>

<main id="chapter" class="front-task-section">
  <div class="page-content" id="content">
    <div class="container">
      <h1 class="chapter-title">Собеседование</h1>
      <div id="my-botui-app">
        <bot-ui></botui>
      </div>
      <div class="next-interactive">
        <a id = "next_step">Зарегистрировать</a>
      </div>

    </div>

  </div>
</main>

<script type="text/javascript">
  var botui = new BotUI('my-botui-app');
  var photo_url = "<%= rails_blob_path(Bot.find_by_name("Валерий").avatar, only_path: true) %>";
  var delay = 1000;
  var user_name;
  var user_surname;
  var user_email;
  var user_phone;
  var user_password;

  $('#next_step').hide();

  botui.message.add({
    content: "Привет!",
    delay: delay,
    loading: true,
    photo: photo_url
  }).then(function(){
    botui.message.add({
      content: "Меня зовут Валерий",
      delay: delay,
      loading: true,
      photo: photo_url
    }).then(function(){
      botui.message.add({
        content: "Я - HR Director в Adventum.",
        delay: delay,
        loading: true,
        photo: photo_url
      }).then(function(){
        botui.message.add({
          content: "Я помогу зарегистрировать тебя в Симуляторе и буду помогать тебе по ходу твоего обучения.",
          delay: delay,
          loading: true,
          photo: photo_url
        }).then(function(){
          botui.message.add({
            content: "Как тебя зовут?",
            delay: delay,
            loading: true,
            photo: photo_url
          }).then(function(){
            botui.action.text({
              action: {
                placeholder: 'Введите ваше имя'
              }
            }).then(function(res){
              user_name = res.value;
            }).then(function(){
              botui.action.text({
                action: {
                  placeholder: 'Введите вашу фамилию'
                }
              }).then(function(res){
                user_surname = res.value;
              }).then(function(){
                botui.message.add({
                  content: "Приятно познакомиться, "+user_name,
                  delay: delay,
                  loading: true,
                  photo: photo_url
                }).then(function(){
                  botui.message.add({
                    content: "Пришли, пожалуйста, свой Email для регистрации",
                    delay: delay,
                    loading: true,
                    photo: photo_url
                  }).then(function(){
                    botui.action.text({
                      action: {
                        sub_type: 'email',
                        placeholder: 'Введите ваш Email'
                      }
                    }).then(function(res){
                      user_email = res.value;
                    }).then(function(){
                      botui.message.add({
                        content: "Спасибо! И телефон тоже, пожалуйста.",
                        delay: delay,
                        loading: true,
                        photo: photo_url
                      }).then(function(){
                        botui.action.text({
                          action: {
                            placeholder: 'Введите ваш телефон'
                          }
                        }).then(function(res){
                          user_phone = res.value;
                        }).then(function(){
                          botui.message.add({
                            content: "Отлично! Осталось придумать пароль. Он должен быть длиннее 6 символов",
                            delay: delay,
                            loading: true,
                            photo: photo_url
                          }).then(function(){
                            botui.action.text({
                              action: {
                                placeholder: 'Придумайте ваш пароль (минимум 6 символов)'
                              }
                            }).then(function(res){
                              user_password = res.value;
                            }).then(function(){
                              botui.message.add({
                                type: 'html',
                                content: "Супер! Проверь, что я все записал правильно, и нажми кнопку 'Зарегистрировать'. <br> <b>Имя:</b> " + user_name + "<br> <b>Фамилия:</b> " + user_surname + "<br> <b>Email:</b> " + user_email + "<br> <b>Телефон:</b> " + user_phone + "<br> <b>Пароль:</b> " + user_password,
                                delay: delay,
                                loading: true,
                                photo: photo_url
                              }).then(function(){
                                $('#next_step').show();
                              });
                            });
                          });
                        });
                      });
                    });
                  });
                });
              });
            });
          });
        });
      });
    });
  });

  $('#next_step').on('click', function(){
    botui.message.add({
      content: "Удачи в обучении, " + user_name + "! :)",
      delay: delay,
      loading: true,
      photo: photo_url
    }).then(function(){
      $.ajax({
        url: "<%= registration_path(resource_name) %>",
        crossorigin: true,
        type: 'POST',
        data: {
          'authenticity_token': "<%= form_authenticity_token %>",
          'user[email]': user_email,
          'user[password]': user_password,
          'user[password_confirmation]': user_password,
          'user[name]': user_name,
          'user[surname]': user_surname,
          'user[phone]': user_phone
        },
        success: function(data){
          console.log(data)
        },
        error: function (jqxhr, textStatus, error){
          var err = textStatus + ", " + error;
          console.log( "Request Failed: " + err);
        }
      });
    });
  });

</script>
