<%= render partial: "shared/main_header" %>
<div class="container">
  <div class="row align-items-center">
    <div class="col-md-12">
      <h1 class="text-center">Список курсов</h1>

      <div class="row">
        <% @courses.each do |course| %>
        <div class="col-md-4">
          <div class="card">
            <%= image_tag course.image.variant(resize: "358x160!") if course.image.attached? %>

            <div class="card-body">
              <h5 class="card-title"><%= course.name %></h5>
              <p class="card-text"><%= course.description%></p>
              <% if current_user.subscriptions.find_by_course_id(course.id) %>
                <%= link_to "Продолжить курс", course, class: "btn btn-primary" %>
              <% else %>
                <%= link_to "Начать курс", course, class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render partial: "shared/main_footer" %>
