<%= render partial: "shared/main_header" %>

<div class="container login-container">
  <div class="row">
    <div class="col-md-6 login-form offset-md-3">

      <h2>Смените свой пароль</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>

        <div class="form-group">
          <%= f.label :password, "New password" %><br />
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "Confirm new password" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="form-group">
          <input class="btn btn-primary btnLogin" type="submit" name="action" value="Сменить пароль">
        </div>
      <% end %>

    </div>
  </div>
</div>

<%= render partial: "shared/main_footer" %>
