<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.jpg", class: "d-inline-block", "width": "30", "height": "30" %>
    Simulator
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <%= link_to "Главная", root_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
  <% if user_signed_in? %>
    <%= link_to 'Открыть курсы', course_index_path, :class => 'btn btn-primary' %>
  <% else %>
    <%= link_to 'Войти', new_user_session_path, :class => 'btn btn-primary m-1' %>
    <%= link_to 'Регистрация', new_user_registration_path, :class => 'btn btn-success m-1' %>
  <% end %>
</nav>
