<div class="d-none d-md-block col-md-1">
  <!-- ЛОГО СЛЕВА -->
  <div class="float-group left">
    <div class="float-btn">
      <%= link_to root_path do %>
        <%= image_tag 'logo.jpg'%>
      <% end %>
    </div>
  </div>

  <div class="float-group right" id="menubtn">
    <div class="float-btn" id="sidebarCollapse">
      <i class="fa fa-bars mr-2"></i>
    </div>
  </div>

  <!-- Меню справа -->
  <div class="vertical-nav active" id="sidebar">
    <div id="profile-menu">
      <div class="logout-link">
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fas fa-sign-out-alt"></i>
        <% end %>
      </div>
      <div class="profile-link">
        <%= link_to edit_user_registration_path, :"data-turbolinks" => false do %>
          <i class="fas fa-user-cog"></i>
        <% end %>
      </div>
      <div class="name">
        <div class="avatar">
          <%= @user.name[0,1] %><%= @user.surname[0,1] %>
        </div>
        <span class="username">
          <%= @user.name %> <%= @user.surname %>
        </span>
      </div>
    </div>

    <div id="toc-menu">
      <h2>Главы курса "<%= @course.name %>"</h2>
      <ul class="chapters">
        <% @lessons.each do |lesson| %>
          <li class="<% if lesson == @active_lesson or lesson == @last_lesson  %> active <% elsif current_user.completed_lessons.find_by_lesson_id(lesson.id) %> FINISHED <% end %>">
            <span class="num"><%= lesson.tag + 1 %>.</span>
            <% if lesson == @active_lesson or lesson == @last_lesson or current_user.completed_lessons.find_by_lesson_id(lesson.id) %>
              <%= link_to lesson.name, [@course,lesson], "data-turbolinks": "false" %>
            <% else %>
              <%= lesson.name %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

  </div>
</div>

<script type="text/javascript">
  $(function() {
  // Sidebar toggle behavior
  $('#sidebarCollapse').on('click', function() {
    $('#sidebar, #content, #menubtn').toggleClass('active');
  });
});
</script>
