<%= render partial: "shared/main_header" %>
<div class="container">
  <div class="row align-items-center">
    <div class="col-md-10 offset-md-1">
      <%= image_tag "graph.png", :class => 'mw-100 mb-5' %>
      <h1 class="text-center">Симулятор работы в маркетинговом агентстве</h1>
      <p class="text-center">Вы получите реальный опыт, выполняя клиентские
        задачи, анализируя реальные данные в системах аналитики, принимая
        решения.
      </p>
    </div>
  </div>
</div>

<%= render partial: "shared/main_footer" %>
