<%= render partial: "shared/simulator_header" %>
<main id="chapter" class="front-task-section">
  <div class="page-content" id="content">
    <div class="container">
      <h1 class="chapter-title"><span><%= @active_lesson.tag + 1 %>. </span><%= @active_lesson.name %></h1>
      <div id="my-botui-app">
        <bot-ui></botui>
      </div>
      <div class="next-interactive">
        <a id = "next_step">Далее</a>
      </div>

    </div>

  </div>
</main>

<script type="text/javascript">

  var botui = new BotUI('my-botui-app');
  var current_step_id;
  var current_step_tag;
  var current_lesson;
  var total_lessons;
  var steps_count;
  var user_name;

  $.ajax({
    url: '/step/get_completed_steps/<%= @active_lesson.id %>',
    crossorigin: true,
    type: 'GET',
    dataType: 'JSON',
    success: function (data){
      console.log(data);
      steps_count = data['meta']['total_steps'];
      current_lesson = data['meta']['current_lesson']['tag'];
      total_lessons = data['meta']['total_lessons'];
      user_name = data['meta']['user_name'];
      user_avatar = data['meta']['user_avatar'];

      for (i = 0; i < data['steps'].length; i++){
        current_step_id = data['steps'][i]['id'];
        current_step_tag = data['steps'][i]['tag'];
        CheckForLastLesson();

        switch(data['steps'][i]['step_type']){
            case 'test_radio':
              var options = '';
              for (j=1; j<8; j++ ){
                if (data['steps'][i]['option'+j]){
                  options += j + '. ' + data['steps'][i]['option'+j] + '<br>';
                };
              };
              botui.message.add({
                photo: data['steps'][i]['bot'] ? data['steps'][i]['bot']['avatar_url'] : false,
                type: 'html',
                content: data['steps'][i]['content'] + '<br>' + options
              }).then(function(){
                CheckForUsername();
              });
              break;

            case 'test_checkbox':
              var options = '';
              for (j=1; j<8; j++ ){
                if (data['steps'][i]['option'+j]){
                  options += j + '. ' + data['steps'][i]['option'+j] + '<br>';
                };
              };
              botui.message.add({
                photo: data['steps'][i]['bot'] ? data['steps'][i]['bot']['avatar_url'] : false,
                type: 'html',
                content: data['steps'][i]['content'] + '<br>' + options
              }).then(function(){
                CheckForUsername();
              });
              break;

            default:
              botui.message.add({
                photo: data['steps'][i]['bot'] ? data['steps'][i]['bot']['avatar_url'] : false,
                type: 'html',
                content: data['steps'][i]['content']
              }).then(function(){
                CheckForUsername();
              });
              break;
        };

        if (data['steps'][i]['completed_steps'][0]['useranswer']){
          var user_answer = data['steps'][i]['completed_steps'][0]['useranswer'];
          var correct = data['steps'][i]['completed_steps'][0]['correct'];
          var message_if_correct = data['steps'][i]['message_if_correct'];
          var message_if_incorrect = data['steps'][i]['message_if_incorrect'];
          botui.message.add({
            photo: user_avatar ? user_avatar : false,
            human: true,
            type: 'html',
            content: user_answer
          });

          if (correct){
            botui.message.add({
              photo: data['steps'][i]['bot'] ? data['steps'][i]['bot']['avatar_url'] : false,
              cssClass: 'correct-answer',
              type: 'html',
              content: message_if_correct
            });
          } else{
            botui.message.add({
              photo: data['steps'][i]['bot'] ? data['steps'][i]['bot']['avatar_url'] : false,
              cssClass: 'incorrect-answer',
              type: 'html',
              content: message_if_incorrect
            });
          };
        }
      }
    },
    error: function (jqxhr, textStatus, error){
      var err = textStatus + ", " + error;
      console.log( "Request Failed: " + err);
    }
  });

</script>

<script type="text/javascript">

  function CheckForLastLesson(){
    if (current_step_tag == steps_count - 1){
      if (current_lesson + 1 != total_lessons){
        $('#next_step').text('Перейти к следующему уроку').attr('href','<%= course_lesson_path(@course, Lesson.find_by_tag(@active_lesson.tag + 1)) %>').off('click');
      } else{
        $('#next_step').remove();
      }
    }
  };

  function CheckForUsername(){
    $('.user_name').html(user_name);
  };

  function CompleteStep(step_id, user_answer){
    var response;
    $.ajax({
      url: '/step/complete_step/',
      crossorigin: true,
      type: 'GET',
      dataType: 'JSON',
      async: false,
      data: {
        step_id: step_id,
        user_answer: user_answer
      },
      success: function (data){
        console.log(data);
        response = data['correct'];
      },
      error: function (jqxhr, textStatus, error){
        var err = textStatus + ", " + error;
        console.log( "Request Failed: " + err);
      }
    });

    return response;
  };

  $('#next_step').on('click', function(){
    $.ajax({
      url: '/step/get_next_step/',
      crossorigin: true,
      type: 'GET',
      dataType: 'JSON',
      data: {
        current_step: current_step_id
      },
      success: function (data){
        console.log(data);
        current_step_id = data['step']['id'];
        current_step_tag = data['step']['tag'];

        switch (data['step']['step_type']){

          case 'message':
            CompleteStep(current_step_id);
            botui.message.add({
              photo: data['step']['bot'] ? data['step']['bot']['avatar_url'] : false,
              loading: true,
              delay: data['step']['content'].length,
              type: 'html',
              content: data['step']['content']
            });
            CheckForLastLesson();
            CheckForUsername();
            break;

          case 'test_input':
            $('#next_step').hide();
            var message_if_correct = data['step']['message_if_correct'];
            var message_if_incorrect = data['step']['message_if_incorrect'];
            botui.message.add({
              photo: data['step']['bot'] ? data['step']['bot']['avatar_url'] : false,
              loading: true,
              delay: data['step']['content'].length,
              type: 'html',
              content: data['step']['content']
            }).then(function(){
              CheckForUsername();
            });
            botui.action.text({
              action: {
                placeholder: 'Введите свой ответ'
              }
            }).then(function (res){
              var correct = CompleteStep(current_step_id, res.value);
              if (correct){
                botui.message.add({
                  photo: data['step']['bot'] ? data['step']['bot']['avatar_url'] : false,
                  cssClass: 'correct-answer',
                  type: 'html',
                  content: message_if_correct
                });
              } else{
                botui.message.add({
                  photo: data['steps']['bot'] ? data['step']['bot']['avatar_url'] : false,
                  cssClass: 'incorrect-answer',
                  type: 'html',
                  content: message_if_incorrect
                });
              };
            }).then(function(){
              $('#next_step').show();
              CheckForLastLesson();
            });
            break;

          case 'test_radio':
            $('#next_step').hide();
            var message_if_correct = data['step']['message_if_correct'];
            var message_if_incorrect = data['step']['message_if_incorrect'];
            botui.message.add({
              photo: data['step']['bot'] ? data['step']['bot']['avatar_url'] : false,
              loading: true,
              delay: data['step']['content'].length,
              type: 'html',
              content: data['step']['content']
            }).then(function(){
              CheckForUsername();
            });
            var options = [];
            for (j=1;j<8;j++){
              if (data['step']['option'+j]){
                options.push({
                  text: data['step']['option'+j],
                  value: data['step']['option'+j]
                });
              };
            };
            botui.action.button({
              action: options
            }).then(function (res){
              var correct = CompleteStep(current_step_id, res.value);
              if (correct){
                botui.message.add({
                  photo: data['step']['bot'] ? data['step']['bot']['avatar_url'] : false,
                  cssClass: 'correct-answer',
                  type: 'html',
                  content: message_if_correct
                });
              } else{
                botui.message.add({
                  photo: data['step']['bot'] ? data['step']['bot']['avatar_url'] : false,
                  cssClass: 'incorrect-answer',
                  type: 'html',
                  content: message_if_incorrect
                });
              };
            }).then(function(){
              $('#next_step').show();
              CheckForLastLesson();
            });
            break;

          case 'test_checkbox':
            $('#next_step').hide();
            var message_if_correct = data['step']['message_if_correct'];
            var message_if_incorrect = data['step']['message_if_incorrect'];
            botui.message.add({
              photo: data['step']['bot'] ? data['step']['bot']['avatar_url'] : false,
              loading: true,
              delay: data['step']['content'].length,
              type: 'html',
              content: data['step']['content']
            }).then(function(){
              CheckForUsername();
            });
            var options = [];
            for (j=1;j<8;j++){
              if (data['step']['option'+j]){
                options.push({
                  text: data['step']['option'+j],
                  value: data['step']['option'+j]
                });
              };
            };
            botui.action.select({
              action: {
                placeholder: "Выберите варианты ответов",
                multipleselect: true,
                options: options,
                button: {
                  icon: 'check',
                  label: 'OK'
                }
              }
            }).then(function (res){
              var correct = CompleteStep(current_step_id, res.value);
              if (correct){
                botui.message.add({
                  photo: data['step']['bot'] ? data['step']['bot']['avatar_url'] : false,
                  cssClass: 'correct-answer',
                  type: 'html',
                  content: message_if_correct
                });
              } else{
                botui.message.add({
                  photo: data['step']['bot'] ? data['step']['bot']['avatar_url'] : false,
                  cssClass: 'incorrect-answer',
                  type: 'html',
                  content: message_if_incorrect
                });
              };
            }).then(function(){
              $('#next_step').show();
              CheckForLastLesson();
            });
            break;

        };
      },
      error: function (jqxhr, textStatus, error){
        var err = textStatus + ", " + error;
        console.log( "Request Failed: " + err);
      }
    });
  });

</script>
