<%= render partial: "shared/main_header" %>

<div class="container login-container">
  <div class="row">
    <div class="col-md-6 login-form offset-md-3">

      <h2>Вход в аккаунт</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label "Пароль" %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, "Запомнить меня" %>
          </div>
        <% end %>

        <div class="form-group">
          <input class="btn btn-primary btnLogin" type="submit" name="action" value="Войти">
        </div>

        <div class="form-group">
            <%= link_to "Восстановить пароль", new_user_password_path, class: "ForgetPwd"%>
        </div>

      <% end %>
    </div>
  </div>
</div>
