/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
  font-size: 18px;
  line-height: 24px;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}

h1{
  font-size: 40px;
  line-height: 48px;
  font-weight: 300;
  margin-top: 24px;
  margin-bottom: 36px;
}

h2{
  margin-top: 24px;
}

h4{
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  margin-top: 24px;
  margin-bottom: 24px;
}

ul{
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  margin-bottom: 24px;
  list-style: initial;
}

p{
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  margin-bottom: 24px;
}

.login-container{
  margin-top: 5%;
  margin-bottom: 5%;
}

.login-container form{
  padding: 10%;
}

.login-form{
  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form h2{
  text-align: center;
}

.login-form img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
}

.login-form  .lbl-change-avatar{
  display: block;
  cursor: pointer;
}


.login-form .ForgetPwd{
    color: #0062cc;
    text-decoration: none;
}

.btnLogin{
  width: 50%;
  cursor: pointer;
}

.float-group{
  position: fixed;
  top: 40px;
}

.float-group.left{
  left: 40px;
}

.float-group.right{
  right: 40px;
}

.float-btn{
  padding: 10px;
  width: 60px;
  height: 60px;
  position: relative;
  border-radius: 100%;
  box-shadow: 0 5px 20px 1px rgba(0,0,0,0.08);
  background-color: white;
}

.float-btn img{
  width: 40px;
}

.float-btn i{
  width:40px;
  height:40px;
  font-size:30px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}

.vertical-nav {
  min-width: 400px;
  width: 400px;
  height: 100vh;
  position: fixed;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: #000;
  top: 0;
  right: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.vertical-nav #profile-menu{
  width: 98.75%;
  float: left;
  margin-right: .625%;
  margin-left: .625%;
  padding-bottom: 24px;
}

.vertical-nav #profile-menu .logout-link, .vertical-nav #profile-menu .profile-link{
  float: right;
  width: 40px;
  height: 48px;
}

.vertical-nav #profile-menu .logout-link a, .vertical-nav #profile-menu .profile-link a{
  display: block;
  text-align: right;
  font-size: 24px;
  font-weight: 300;
  line-height: 48px;
  text-decoration: none;
  transition: color .5s;
  color: #fff;
  cursor: pointer;
}

.vertical-nav .name {
  float: left;
  line-height: 48px;
  height: 48px;
  color: #fff;
}
.vertical-nav .name .username {
  display: inline-block;
  font-size: 18px;
  float: right;
}
.vertical-nav .name .avatar {
  width: 48px;
  height: 48px;
  line-height: 44px;
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 100%;
  text-align: center;
  margin-right: 10px;
}

#toc-menu{
  width: 98.75%;
  float: left;
  margin-left: .625%;
  margin-right: .625%;
  padding-bottom: 48px;
  overflow-y: scroll;
  height: 100%;
}

#toc-menu h2{
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  margin-bottom: 8px;
  color: #fff;
}

#toc-menu ul.chapters{
  padding: 0 0 144px 0;
  list-style: none;
  margin: 0 !important;
  width: 100%;
}

#toc-menu li{
  font-size: 12px;
  line-height: 24px;
  margin-bottom: 6px;
  padding: 0;
  position: relative;
  height: 24px;
  color: #7f7f7f;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#toc-menu li a{
  font-weight: 500;
  text-decoration: none;
  font-style: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  display: inline-block;
  vertical-align: top;
}

#toc-menu li.active a, #toc-menu li.active .num{
  color: #fff;
}

#toc-menu li.FINISHED a, #toc-menu li.FINISHED .num{
  transition: color 0.5s;
  color: #007630;
}

#toc-menu li.FINISHED a:hover, #toc-menu li.FINISHED .num:hover{
  color: #a9ffcc;
}

.page-content {
  width: 100%;
  margin-right: -400px;
  transition: all 0.4s;
  padding-top: 48px;
  padding-bottom: 240px;
}

.container {
  max-width:90%;
  margin-left: auto;
  margin-right: auto;
}

.chapter-title{
  position: relative;
}

.container .next-interactive {
  margin-top: 48px;
  text-align: center;
  text-decoration: underline;
}

.container .next-interactive a{
  font-size: 40px;
  line-height: 48px;
  font-weight: 300;
  color: #000;
  cursor: pointer;
  font-style: normal;
  text-transform: lowercase;
}

.front-task-section ul{
  list-style-position: inside;
}

.front-task-section ul li{
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 6px;
  left-style-position: outside;
}

@media (min-width: 1024px) {

  .page-content{
    transition: transform .3s,width .3s;
    padding-top: 96px;
  }

  .container{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto
  }

  .front-task-section h1{
    width: 73.75%;
    float: left;
    margin-left: 13.125%;
    margin-right: 13.125%;
  }

  .front-task-section .chapter-title span{
    position: absolute;
    left: -140px;
    width: 100px;
    text-align: right;
  }

  .container .next-interactive{
    width: 73.75%;
    float: left;
    margin-left: 13.125%;
    margin-right: 13.125%;
  }
}

/* for toggle behavior */

#sidebar.active {
  margin-right: -400px;
}

#content.active {
  width: calc(100% - 400px);
  margin: 0;
}

#menubtn.active{
  margin-right: 400px;
}

#menubtn.active i:before{
  font-family: 'Font Awesome 5 Free';
  content: '\f00d';
}

@media (max-width: 768px) {
  #sidebar {
    margin-right: 0;
  }
  #sidebar.active {
    margin-right: -400px;
  }
  #content {
    margin-right: 400px;
    width: 100%;
  }
  #content.active {
    width: calc(100% - 400px);
    margin: 0;
  }
}
